body {
    background-image: url(images/gargantua.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

#enemy-attack-effect {
    position: absolute;
    top: 20%;
    left: 30%;
    transition: all 500ms;
}

#player-attack-effect {
    position: absolute;
    bottom: 20%;
    right: 20%;
    transition: all 500ms;
}

.stats {
    border: solid blue 3px;
    background-color: azure;
    width: 20vw;
    height: 5vh;
}

#player-vitals {
    position: absolute;
    right: 6%;
    bottom: 57%;
}

#player {
    position: absolute;
    right: 50px;
    bottom: 50px;
}

#controls {
    position: absolute;
    right: 30%;
    bottom: 50px;
    border: solid blue 3px;
    background-color: azure;
    width: 20vw;
    height: 15vh;
}

#enemy-vitals {
    position: absolute;
    top: 30px;
    left: 30%;
}

#enemy {
    position: absolute;
    left: 50px;
    top: 50px;
}

.enemy-ship {
    width: 40vw;
}

.player-ship {
    width: 25vw;
}