body {
    background-image: url(images/gargantua.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

#enemy-attack-effect {
    position: absolute;
    top: 20%;
    left: 30%;
    transition: all 100ms;
}

#player-attack-effect {
    position: absolute;
    bottom: 20%;
    right: 20%;
    transition: all 100ms;
}

.stats {
    border: solid blue 3px;
    background-color: azure;
    width: 20vw;
    height: 5vh;
}

#player-vitals {
    position: absolute;
    right: 6%;
    bottom: 57%;
}

#player {
    position: absolute;
    right: 50px;
    bottom: 50px;
}

#controls {
    position: absolute;
    right: 30%;
    bottom: 50px;
    border: solid blue 3px;
    background-color: azure;
    width: 20vw;
    height: 15vh;
    z-index: 1;
}

#enemy-vitals {
    position: absolute;
    top: 30px;
    left: 30%;
}

#enemy {
    position: absolute;
    left: 50px;
    top: 50px;
}

.enemy-ship {
    width: 40vw;
}

.player-ship {
    width: 25vw;
}

#modal-template {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
}

#modal-box {
    font-size: 24px;
    background-color: rgb(248, 248, 248);
	height: 50vh;
	width: 50vw;
	border-radius: 20px;
	margin: 150px auto;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	padding: 1%;
	line-height: 120%;
    text-align: center;
}